<!doctype html>
<html lang="en">

<head>
    <title>Admin Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- App favicon -->
    <link rel="shortcut icon" href="#">

    <link rel="stylesheet" href="{{url_for('static', filename='plugins/jvectormap/jquery-jvectormap-2.0.2.css')}}">

    <!-- App css -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/icons.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/metisMenu.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/admin_dashboard.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/jquery-ui.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/app.min.css')}}" rel="stylesheet" type="text/css" />

</head>

<body>

    

    <!-- jQuery  -->
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/metismenu.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/waves.js')}}"></script>
    <script src="{{url_for('static', filename='js/feather.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.slimscroll.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>

    <script src="{{url_for('static', filename='plugins/moment/moment.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/apexcharts/apexcharts.min.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/jvectormap/jquery-jvectormap-2.0.2.min.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/jvectormap/jquery-jvectormap-world-mill-en.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/flot-chart/jquery.canvaswrapper.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/flot-chart/jquery.colorhelpers.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/flot-chart/jquery.flot.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/flot-chart/jquery.flot.saturated.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/flot-chart/jquery.flot.browser.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/flot-chart/jquery.flot.drawSeries.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/flot-chart/jquery.flot.uiConstants.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/flot-chart/jquery.flot-dataType.js')}}"></script>
    <script src="{{url_for('static', filename='pages/jquery.crm_dashboard.init.js')}}"></script>

    <!-- App js -->
    <script src="{{url_for('static', filename='js/app.js')}}"></script>

</body>

</html>